<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" id="signedInNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Tasking</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <%= link_to 'New Project', new_project_path, class:"nav-link" %>
                  </li>

                  <li class="nav-item">
                      <%= link_to 'Dashboard', projects_path, class:"nav-link" %>
                  </li>

                  <li class="nav-item">
                      <%= link_to 'My Profile', edit_user_registration_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to 'Logout', destroy_user_session_path, class:"nav-link", method: :delete %>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
