// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-base:			#464B51 !default;
$gray-darker:		#676e77 !default;
$gray-dark:			#7d8591 !default;
$gray:				  #88919e !default;
$gray-light:		#bfcbdd !default;
$gray-lighter:	lighten($gray-base, 93.5%) !default; // #eee

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #DA7073 !default;
$orange: #DC7666 !default;
$yellow: #E0DF89 !default;
$green:  #4D886E !default;
$blue:   #617088 !default;
$teal:   #A2D5BE !default;
$pink:   #d7aba4 !default;
$purple: #E2A1C3 !default;


// Reassign color vars to semantic color scheme
$brand-primary:             $pink !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$theme-primary:    $pink;
$theme-danger:     $red;
