// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
  background-color: $brand-primary!important;
  border: none !important;
}

a {
  color: $blue!important;
}
a:hover {
  color: $gray-darker!important;
  text-decoration: none!important;
}

.card-gray {
  background-color: $gray-base!important;
  border: none !important;
}

.card-warning {
  background-color: $yellow!important;
  border: none !important;
}

.card-danger {
  background-color: $red!important;
  border: none !important;
}

.card-success {
  background-color: $brand-success!important;
  border: none !important;
}
