.jumbotron {
  height: 300px;
}
.bg-jumbo {
  background: image-url('pencil.png');
  background-size: cover;

}

.center-icon {
  margin-left: 30%;
}

.fa-8x {
  font-size: 8em;
}

.no-border-card {
  border: none;
}
